[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
numpy = "*"
keras = "*"
requests = "*"
pillow = "*"
tensorflow = "==2.20.0"
tf-keras = "*"

[dev-packages]

[requires]
python_version = "3.13"
